<% provide(:title, '| Cart') %>
<h2>In the basket:</h2>
<div class="col-md-6">
  <table class="table">
    <% @line_items.each do |line_item| %>
    <tr>
      <td><%= link_to line_item.product.title, product_path(line_item.product) %></td>
      <td class="line_item_quantity"><%= line_item.quantity %></td>
      <td><%= number_to_currency(line_item.product.price, delimiter: ' ', precision: 2, separator: '.') %></td>
      <td>
        <%= button_to '+', { controller: 'line_items', action: 'increment_quantity', line_item: line_item }, remote: true  %>
      </td>
      <td>
        <%= button_to '-', { controller: 'line_items', action: 'decrement_quantity', line_item: line_item }, remote: true  %>
      </td>
    </tr>
    <% end %>

    <tr>
      <td>Total:</td>
      <td class="cart_total_price"><%= number_to_currency(@cart.total_price, delimiter: ' ', precision: 2, separator: '.') %></td>
    </tr>
  </table>
  <%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<div class="col-md-6">
  <%= render 'orders/form' %>
</div>