<p id="notice"><%= notice %></p>
<div class="col-md-6">
  <h2>In the basket:</h2>
  <table class="table">
    <% @line_items.each_with_index do |line_item, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= link_to line_item.product.title, product_path(line_item.product) %></td>
      <td><%= line_item.quantity %></td>
      <td><%= number_to_currency(line_item.product.price) %></td>
    </tr>
    <% end %>

    <tr>
      <td>Total</td>
      <td><%= number_to_currency(@cart.total_price) %></td>
    </tr>
  </table>
</div>

<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>

<div class="col-md-6">
  <%= link_to 'Make a purchase', '#' %>
</div>
