<ul class="nav navbar-nav navbar-left">
  <li role="presentation"><%= link_to 'Home', root_path %></li>
  <li role="presentation"><%= link_to 'Categories', categories_path %></li>
  <li role="presentation"><%= link_to 'Products', products_path %></li>
  <li role="presentation"><%= link_to 'Cart', cart_path %></li>
  <li role="presentation"><%= link_to 'About us', about_path %></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <%= form_tag(products_path, :method => "GET", class: "navbar-form navbar-left") do %>
      <div class="form-group">
        <%= text_field_tag(:query, (params[:query].present? ? params[:query] : nil),
                           class: 'form-control',
                           placeholder: 'Search Products',
                           autocomplete: 'off') %>
        <%= button_tag(type: "submit", class: "btn btn-default") do %>
            Search
        <% end %>
        <ul id="results"></ul>
      </div>
  <% end %>
</ul>
<div class="clear"></div>